.background {
    width: 100%;
}

.rock-wrapper {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.rock {
    align-self: center;
}
